router bgp {{ asn }}
  router-id {{ hostvars[inventory_hostname].ansible_host }}
  address-family l2vpn evpn
{% for peer in evpn_peers %}
  neighbor {{ peer }} remote-as {{ asn }}
  neighbor {{ peer }} activate
{% endfor %}

